BITRIX_WEBHOOK_URL=https://your-portal.bitrix24.ru/rest/USER_ID/TOKEN/
CLIENT_ID=local.xxxxxx
CLIENT_SECRET=xxxxxx
APP_URL=https://docs.lab-vita.ru
CASH_REQUEST_IBLOCK_ID=ID_вашего_процесса
CASH_REQUEST_BP_ID=ID_вашего_шаблона